@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.nave-bar{
    background-color: #5867F0;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}

